

@model List<StarIndiaHoliday.Models.touristFeedback>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="admintable">
    <tr>
        <th width="45" align="left" valign="middle">Sr.No.</th>
        <th width="73" align="left" valign="middle">Name</th>
        <th width="75" align="left" valign="middle">Designation</th>
        <th width="62" align="left" valign="middle">Mobile No.</th>
        <th width="67" align="left" valign="middle">Short Discription</th>
        <th width="77" align="left" valign="middle">Image</th>
        <th width="49" align="left" valign="middle">Status</th>
        <th width="35" align="left" valign="middle">Edit</th>
        <th width="68" align="left" valign="middle">Remove</th>
    </tr>
    @{int i = 0;}

    @foreach (var item in Model)
    {
        i = i + 1;
        <tr>
            <td align="left" valign="top">@i.ToString()</td>
            <td align="left" valign="top">@item.name</td>
            <td align="left" valign="top">@item.designatin</td>
            <td align="left" valign="top">@item.mobileNumber</td>
            <td align="left" valign="top">@(item.shortDescription.ToString().Length > 120 ? item.shortDescription.Substring(0, 119) : item.shortDescription)</td>

            <td align="left" valign="top"><img src="~/Content/uploadImage/smallImage/@item.imageName">
                @*<br />
                <a href="~/Admin/Hotpackage/@item.id?command=delimg" onclick="return confirm('Are you sure you wish to delete this Image?');">Delete Image</a>*@
            </td>
            <td align="left" valign="top"><strong>@(item.status == true ? @Html.Raw("<span style='color:green;'>Active</span>") : @Html.Raw("<span style='color:red;'>Inactive</span>"))</strong></td>
            <td align="left" valign="top"><a href="~/Admin/touristFeedback/@item.id?command=ed">Edit</a></td>
            <td valign="top">
                <a href="~/Admin/touristFeedback/@item.id?command=del"
                   onclick="return confirm('Are you sure you wish to delete this Record?');"><img src="@Url.Content("~/Content/Admin/images/icon-bin.jpg")" alt="" style="border:none" align="absmiddle" /></a>
            </td>
        </tr>
    }
</table>



